body {
  text-align:center;
  border:right;
  border:justify;
  color: blue;
}

h1 {
  color: red;
}

.quote {
  font-size: medium;
  color: rgb(49, 12, 35);
}

.quote.narrator {
  color: black;
  color-scheme: light;
}

#intro p {
  color: green;
}

.super-important-omg {
  font-size: 20px;
  background-color: yellow;
}